@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rdt_TableCol {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #475467 !important;
}

.rdt_TableRow {
  border-bottom-color: #eaecf0 !important;
  border-bottom-width: 1px;
  border-style: solid;
}
.rdt_TableCell {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #475467 !important;
}

.p-dropdown .p-dropdown-label.p-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #475467 !important;
}

.p-dropdown .p-dropdown-label {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #475467 !important;
}

.p-inputtext {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #475467 !important;
}

.p-calendar .p-inputtext {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #475467 !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #475467 !important;
}

.p-datatable .p-datatable-thead > tr > th {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #475467 !a important;
}

.p-datatable .p-datatable-tbody > tr > td {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #475467 !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #475467 !important;
}

.p-dialog .p-dialog-header {
  padding: 1.5rem 1.5rem 0rem 1.5rem !important;
}

.p-dialog .p-dialog-content {
  padding: 0rem 1.5rem 1.5rem 1.5rem !important;
}

.p-dialog .p-dialog-footer {
  padding: 0rem 1.5rem 1.5rem 1.5rem !important;
}

.p-button {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.p-multiselect .p-multiselect-label.p-placeholder {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #475467 !important;
}

.p-multiselect .p-multiselect-label {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #475467 !important;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #475467 !important;
}

.p-inputtextarea {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #475467 !important;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #475467 !important;
}

.p-accordion .p-accordion-content {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #475467 !important;
}

.p-datatable .p-datatable-header {
  border-bottom: 0px !important;
}

.p-datatable .p-datatable-footer {
  border-top: 0px !important;
}

.p-datatable .p-column-header-content {
  justify-content: center !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: center !important;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: center !important;
}

.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel {
  margin-right: 0.5rem !important;
}

.p-datatable .p-datatable-tbody > tr > td:last-child {
  width: 8rem !important;
}

.p-datatable .p-datatable-tbody > tr > td:last-child > div {
  display: flex !important;
  justify-content: center !important;
}

.p-datatable .p-datatable-tbody > tr > td:last-child > div > button {
  margin-right: 0.5rem !important;
}

.p-datatable .p-datatable-tbody > tr > td:last-child > div > button:last-child {
  margin-right: 0rem !important;
}

.p-datatable .p-datatable-tbody > tr > td:last-child > div > button:first-child {
  margin-left: 0rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > button:first-child:last-child {
  margin-left: 0rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > button:first-child:last-child:not(:only-child) {
  margin-left: 0rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > button:first-child:not(:last-child) {
  margin-right: 0.5rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > button:last-child:not(:first-child) {
  margin-left: 0.5rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > button:not(:first-child):not(:last-child) {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > button:only-child {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.p-datatable .p-datatable-tbody > tr > td:last-child > div > div {
  display: flex !important;
  justify-content: center !important;
}

.p-datatable .p-datatable-tbody > tr > td:last-child > div > div > button {
  margin-right: 0.5rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > button:last-child {
  margin-right: 0rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > button:first-child {
  margin-left: 0rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > button:first-child:last-child {
  margin-left: 0rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > button:first-child:last-child:not(:only-child) {
  margin-left: 0rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > button:first-child:not(:last-child) {
  margin-right: 0.5rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > button:last-child:not(:first-child) {
  margin-left: 0.5rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > button:not(:first-child):not(:last-child) {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > button:only-child {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.p-datatable .p-datatable-tbody > tr > td:last-child > div > div > div {
  display: flex !important;
  justify-content: center !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > div
  > button {
  margin-right: 0.5rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > div
  > button:last-child {
  margin-right: 0rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > div
  > button:first-child {
  margin-left: 0rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > div
  > button:first-child:last-child {
  margin-left: 0rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > div
  > button:first-child:last-child:not(:only-child) {
  margin-left: 0rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > div
  > button:first-child:not(:last-child) {
  margin-right: 0.5rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > div
  > button:last-child:not(:first-child) {
  margin-left: 0.5rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > div
  > button:not(:first-child):not(:last-child) {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.p-datatable
  .p-datatable-tbody
  > tr
  > td:last-child
  > div
  > div
  > div
  > button:only-child {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.blinking-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
